{:paths ["src"]
 :deps {io.github.kotoba-lang/multiformats {:git/sha "eec3ee85c458ea830be94518b9a42f4a8f1aee40"}
        io.github.kotoba-lang/dag-cbor {:git/sha "a42167c5ff4a552015e3b640ce580b495942ddb8"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
